# Versioned but ignore
.*
Dockerfile

# Yarn / NPM
!.yarnrc.yml
!.yarn/keep
!.yarn/releases
!.yarn/plugins
!.yarn/patches
node_modules

# Local / Builds
dist

# Generated
schema.graphql
generated
*.generated.*
