---
import { StripeClientIsland } from '../components/stripe/StripeClientIsland';
---

<div>
  <StripeClientIsland
    formProps={{
      forceDonationType: 'Monthly',
      campaignTotals: false,
      presetAmounts: {
        oneTime: [25, 50, 100, 500, 1000],
        recurring: [25, 50, 100, 500, 1000],
      },
      telemetry: { referrer: 'Canopy' },
    }}
    client:load
  />
</div>
