---
import BaseLayout from '~/layouts/BaseLayout.astro';
import { DonationForm } from '~/features/donate';
import { Link } from '~/common/ui';
---

<BaseLayout title="Donate - Seed Company">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 min-h-dvh items-start">
    <div class="flex flex-col gap-6 p-6 md:p-12">
      <h1 class="text-5xl font-bold">Give Monthly</h1>
      <p>
        For every $40 you or your church invest monthly, 300 people can experience God's Word in
        their own language—some for the very first time. Learn more about our monthly giving
        community, Canopy.
      </p>
      <h1 class="text-5xl font-bold">Give Once</h1>
      <p>
        Your gift accelerates the vision of all Scripture for all people, whether it launches a
        project for the first time or sees one to the finish line.
      </p>
      <h1 class="text-4xl font-bold">LEAVE A GREATER LEGACY</h1>
      <p>
        <Link href="mailto:Jamie_Hanson@tsco.org"> Contact our team </Link>{' '}
        to discover how you can make a multi-year commitment as an individual, business, or church and
        partner with local translation teams around the world.
      </p>
    </div>
    <div class="p-6 md:p-12 mt-8 md:mt-12">
      <DonationForm
        amount={{
          presets: {
            OneTime: [35, 500, 2500, 10000, 20000],
            Monthly: [25, 50, 100, 500, 1000],
          },
        }}
        client:load
      />
    </div>
  </div>
</BaseLayout>
