---
import { DonationFormIsland } from '../components/DonationFormIsland.tsx';
---

<div>
  <DonationFormIsland
    formProps={{
      enableRecurring: true,
      hideInvestorType: 'Organization',
      campaignTotals: false,
      presetAmounts: {
        oneTime: [35, 500, 2500, 10000, 20000],
        recurring: [25, 50, 100, 500, 1000],
      },
      telemetry: { referrer: 'Watermark' },
    }}
    client:load
  />
</div>
