---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="bg-black">
        <div class="relative isolate overflow-hidden pt-14">
            <img src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/72e8dba1bc6a051b39d379968185c56eceb6cc4f-2560x1440.jpg" alt="" class="absolute inset-0 -z-10 size-full object-cover opacity-70" />
            <div aria-hidden="true" class="">
            <div style=""></div>
            </div>
            <div class="mx-auto sm:flex max-w-[1440px] h-screen md:h-full px-6 lg:px-8">
                <div class="w-full sm:w-1/2 py-32 sm:py-48 lg:py-56">
                    <div>
                        <h1 class="text-balance rader tracking-tight text-7xl md:text-9xl text-white">Global Translation Leaders</h1>
                        <p class="mt-8 text-pretty text-lg text-white sm:text-xl/8">Sponsorship is a personal way to be part of today's global Bible translation work!</p>
                    </div>
                </div>
                <div class="w-1/2 py-0 sm:py-48 lg:py-56"></div>
            </div>
            </div>
        </div>
    </div>
</Layout>