---
import { StripeProvider } from '../components/stripe/StripeProvider';
import { TestStripeImp } from '../components/stripe/TestStripeImp';
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Test Stripe</title>
</head>
<body>
<h1>Stripe Test Page</h1>
<StripeProvider client:load>
  <TestStripeImp client:load />
</StripeProvider>
</body>
</html>
