---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h2>Thank You!</h2>
  <p>
    Your receipt will arrive in your inbox shortly. If your donation is an ACH transfer, it may take
    several business days. For any additional questions or year-end giving statements, please
    contact Seed Company at <a href="mailto:info@tsco.org">info@tsco.org</a>.
  </p>
</Layout>
