---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="h-full flex justify-center items-center relative isolate overflow-hidden bg-white px-6  lg:px-8 bg-[url('https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/4fa5c4296731328c6124ba85e83e268705dcc8cf-1440x733.png')] bg-cover md:be-top bg-center">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Thank You!</h2>
      <p class="mt-8 text-pretty text-lg font-medium text-gray-700 sm:text-xl/8">Your receipt will arrive in your inbox shortly. If your donation is an ACH transfer, it may take
      several business days. For any additional questions or year-end giving statements, please
      contact Seed Company at <a href="mailto:info@tsco.org">info@tsco.org</a>.</p>
    </div>
  </div>
</Layout>
