---
import BaseLayout from '~/layouts/BaseLayout.astro';
import { Link } from '~/common/ui';
---

<BaseLayout title="Thank You!">
  <main class="p-8 min-h-dvh text-center grid place-content-center">
    <h1 class="text-5xl font-bold">Thank You!</h1>
    <p class="p-2">
      Your receipt will arrive in your inbox shortly. If your donation is an ACH transfer, it may
      take several business days.
      <br />
      For any additional questions or year-end giving statements, please contact Seed Company at
      <Link href="mailto:info@tsco.org">info@tsco.org</Link>.
    </p>
    <script>
      if (window.location.search) {
        window.history.replaceState(null, '', window.location.pathname);
      }
    </script>
  </main>
</BaseLayout>
