---
const { title, content, htmlContent = false } = Astro.props;
---

<section class="mb-8">
  {htmlContent ? (
    <h2 set:html={title}></h2>
  ) : (
    <h2>{title}</h2>
  )}
  
  {htmlContent ? (
    <div class="text-base leading-relaxed text-gray-700">
      <div class="content" set:html={content}></div>
    </div>
  ) : (
    <p class="text-base">{content}</p>
  )}
</section>