---

---
<div class="donation-card">
  <div class="donation-card-image-wrapper">
    <img class="donation-card-image" src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/eaffaaa131775759083460fbe8886c0d574ceee4-1080x809.jpg" alt="">
    <div class="donation-card-status">100% FUNDED!</div>
  </div>
  <div class="donation-card-content">
    <h3 class="donation-card-subheading">5 People groups in SouthEast Asia</h3>
    <div class="flex justify-between gap-2">
      <h2 class="donation-card-heading">Oportunity One</h2>
      <div class="flex items-center">
        <img src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/0606083bcd404b1478cfe5dc44aa67cf19e51c13-24x24.png" alt="">
        <span class="ml-1 donation-card-amount font-medium">100,00</span>
      </div>
    </div>
    <p class="donation-card-description">
      The Koro people group of Vanuatu has no Scripture in their heart language. The Koro New Testament project is underway, and the team is working to complete the translation of the New Testament by 2025. The Koro people are primarily oral communicators, so the translation will be recorded in audio format and distributed via mobile devices.
    </p>
    <ul class="donation-card-ul">
      <li class="donation-card-li">Lorem Ipsum</li>
      <li class="donation-card-li">Lorem Ipsum</li>
    </ul>
  </div>
</div>