---

---
<div>
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="mx-auto max-w-4xl">
      <h2 class="text-4xl font-semibold text-center tracking-tight text-gray-900 sm:text-5xl">You might have questions. Good! We have answers.</h2>
      <dl class="mt-16 divide-y divide-gray-900/10">
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="faq-0" class="flex w-full items-start justify-between text-left text-gray-900">
              <span class="text-base/7 font-semibold">How far could my gift go?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [[aria-expanded='true']_&]:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [&:not([aria-expanded='true']_&)]:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="faq-0" class="[&:not([hidden])]:contents">
            <dd class="mt-2 pr-12">
              <p class="text-base/7 text-gray-600">Great question! Here's a breakdown:</p>
              <ul class="list-disc pl-5">
                <li>$35 could translate a verse of Scripture for Language A, spoken by an unreached people group in Southeast Asia.</li>
                <li>$500 could help translate the book of Philippians for Language B, a community of believers with no New Testament access.</li>
                <li>$2,500 could support the translation of the Sermon on the Mount (Matthew 5-7) for Language C, bringing Jesus' words into a new heart language for the first time.</li>
                <li>$10,000 could funds a complete New Testament translation for Language D, impacting churches, families, and future generations.</li>
                <li>$20,000 could translates the entire Bible for Language E, giving one people group access to the full story of God—from Genesis to Revelation.</li>
              </ul>
            </dd>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="faq-1" class="flex w-full items-start justify-between text-left text-gray-900">
              <span class="text-base/7 font-semibold">How did we select these specific translation projects?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [[aria-expanded='true']_&]:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [&:not([aria-expanded='true']_&)]:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="faq-1" hidden class="[&:not([hidden])]:contents">
            <dd class="mt-2 pr-12">
              <p class="text-base/7 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, laudantium quae nesciunt ipsum odio alias atque, aliquid animi iste obcaecati beatae quia? Alias nam numquam facere fugiat officiis similique est.</p>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="faq-2" class="flex w-full items-start justify-between text-left text-gray-900">
              <span class="text-base/7 font-semibold">Is there a specific goal we’re trying to meet?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [[aria-expanded='true']_&]:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [&:not([aria-expanded='true']_&)]:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="faq-2" hidden class="[&:not([hidden])]:contents">
            <dd class="mt-2 pr-12">
              <p class="text-base/7 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempora voluptates aperiam, nobis sint rerum quo corrupti facilis atque quas, fugit in. Quaerat pariatur dolorem, molestias facere magnam voluptatum non?</p>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="faq-3" class="flex w-full items-start justify-between text-left text-gray-900">
              <span class="text-base/7 font-semibold">What is the Seed Company?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [[aria-expanded='true']_&]:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [&:not([aria-expanded='true']_&)]:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="faq-3" hidden class="[&:not([hidden])]:contents">
            <dd class="mt-2 pr-12">
              <p class="text-base/7 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. At error nam facilis itaque voluptates quas, minima ullam dignissimos deleniti esse. Quis architecto eligendi error doloremque autem dolorem animi provident cumque!</p>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="faq-4" class="flex w-full items-start justify-between text-left text-gray-900">
              <span class="text-base/7 font-semibold">What is Year of the Word?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [[aria-expanded='true']_&]:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [&:not([aria-expanded='true']_&)]:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="faq-4" hidden class="[&:not([hidden])]:contents">
            <dd class="mt-2 pr-12">
              <p class="text-base/7 text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, quia unde sit inventore natus itaque cupiditate doloremque laboriosam esse quasi saepe iste provident aliquam doloribus illum a neque obcaecati quod.</p>
            </dd>
          </el-disclosure>
        </div>
        <div class="py-6 first:pt-0 last:pb-0">
          <dt>
            <button type="button" command="--toggle" commandfor="faq-5" class="flex w-full items-start justify-between text-left text-gray-900">
              <span class="text-base/7 font-semibold">Can I give in other ways?</span>
              <span class="ml-6 flex h-7 items-center">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [[aria-expanded='true']_&]:hidden">
                  <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [&:not([aria-expanded='true']_&)]:hidden">
                  <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </button>
          </dt>
          <el-disclosure id="faq-5" hidden class="[&:not([hidden])]:contents">
            <dd class="mt-2 pr-12">
              <p class="text-base/7 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptatem nisi possimus unde sit doloribus, sed praesentium atque, iste temporibus sunt blanditiis, rem architecto ex itaque minus optio molestiae beatae?</p>
            </dd>
          </el-disclosure>
        </div>
      </dl>
    </div>
  </div>
</div>
