---
import { StripeClientIsland } from './stripe/StripeClientIsland';
---

<div class="form-card right-4 top-28 lg:fixed lg:right-8 lg:min-w-96 p-5 rounded-lg shadow-lg z-10">
  <StripeClientIsland
    formProps={{
      enableRecurring: true,
      hideInvestorType: 'Organization',
      presetAmounts: {
        oneTime: [35, 500, 2500, 10000, 20000],
        recurring: [25, 50, 100, 500, 1000],
      },
      campaignTotals: true,
      telemetry: { referrer: 'Watermark' },
    }}
    client:load
  />
</div>
<style></style>
