---
---
  <div class="md:w-3/4">
    <div>
      <img
        src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/3c79f83596cb48bc6ded50d6b2ac7917f113b1e9-265x110.svg"
        alt=""
        class="logo mx-auto sm:mx-0 w-1/2"
        role="presentation"
      />
      <h1 class="hero-h1 uppercase text-pretty">
        <span class="hero-sub-heading uppercase text-pretty">Translating</span><br>
        The Bible Together
      </h1>
      <p class="hero-p mt-6 mb-6 text-pretty max-w-full md:max-w-lg text-base">
        As part of <em>Year of the Word</em>, Watermark is partnering with Seed Company to translate God's Word into the heart language of several unreached people groups.
      </p>
    </div>
  </div>
