---
---
  <div class="md:w-3/4">
    <div>
      <img
        src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/129f5599a20cf300112af5bd151253b44d5304c7-265x110.png"
        alt="Watermark Logo"
        class="mb-4 w-40 mx-auto sm:mx-0"
      />
      <h1 class="hero-h1 uppercase text-pretty">
        <span class="hero-sub-heading uppercase text-pretty">Translating</span><br>
        The Bible Together
      </h1>
      <p class="hero-p mt-6 mb-6 text-pretty max-w-full md:max-w-lg text-base">
        As part of <em>Year of the Word</em>, Watermark is partnering with Seed Company to translate God's Word into the heart language of several unreached people groups.
      </p>
    </div>
  </div>
