---
---
  <div class="relative isolate">
    <div class="">
      <img
        src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/129f5599a20cf300112af5bd151253b44d5304c7-265x110.png"
        alt="Watermark Logo"
        class="mb-4 w-20 sm:w-40 lg:mx-0"
      />
      <h2 class="hero-sub-heading uppercase text-pretty">
        Translating
      </h2>
      <h1 class="hero-h1 text-pretty uppercase font-semibold">
        The Bible Together
      </h1>
      <p class="hero-p mt-6 mb-6 text-pretty max-w-full md:max-w-lg text-base red-hat-mono">
        As part of <em>Year of the Word</em>, Watermark is partnering with Seed Company to translate God's Word into the heart language of several unreached people groups.
      </p>
    </div>
  </div>
