---

---

<section>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <p
        class="mt-2 text-pretty text-4xl font-semibold text-center uppercase tracking-tight text-gray-950 sm:text-5xl rader-bold"
      >
        Finding <span class="text-[#1D3638]">hope and freedom</span>
        through translated Scripture
      </p>
      <p class="mt-10 mx-auto max-w-xl text-center text-gray-600 gotham">
        Discover inspiring stories of people who found hope and freedom through translated
        scripture, transforming their lives with faith and understanding.
      </p>
      <div class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2">
        <div class="relative lg:col-span-3">
          <div
            class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"
          >
          </div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tl-[calc(2rem+1px)]"
          >
            <img
              class="h-80 object-cover object-left"
              src="https://seedcompany.com/wp-content/uploads/2024/03/7_things-1-1024x683.webp"
              alt=""
            />
            <div class="p-10 pt-4">
              <h3 class="text-sm/4 font-semibold text-[#006268] sentinel-bold">Stories</h3>
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
                7 Things You Might Not Know About Bible Translation
              </p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                Learn something new about Bible translation so you can better share the need with
                others.
              </p>
            </div>
          </div>
          <div
            class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"
          >
          </div>
        </div>
        <div class="relative lg:col-span-3">
          <div class="absolute inset-px rounded-lg bg-white lg:rounded-tr-[2rem]"></div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]"
          >
            <img
              class="h-80 object-cover object-left lg:object-right"
              src="https://seedcompany.com/wp-content/uploads/2023/08/Kenya_Samburu_Dedication-1-1024x1024.webp"
              alt=""
            />
            <div class="p-10 pt-4">
              <h3 class="text-sm/4 font-semibold text-[#006268] sentinel-bold">Stories</h3>
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
                Celebrating Our 2,000th Language Engagement
              </p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                A Journey of 30 Years, 2,000 Language Engagements, and Countless Lives Transformed.
              </p>
            </div>
          </div>
          <div
            class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-tr-[2rem]"
          >
          </div>
        </div>
        <div class="relative lg:col-span-2">
          <div class="absolute inset-px rounded-lg bg-white lg:rounded-bl-[2rem]"></div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]"
          >
            <img
              class="h-80 object-cover object-left"
              src="https://seedcompany.com/wp-content/uploads/2023/03/Song-composition-3-Large-1-1024x682.jpeg"
              alt=""
            />
            <div class="p-10 pt-4">
              <h3 class="text-sm/4 font-semibold text-[#006268] sentinel-bold">Stories</h3>
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
                How the Psalms Are Helping Validate a Cultural Identity
              </p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                Bible translators are working to bring the Psalms into Kaaps.
              </p>
            </div>
          </div>
          <div
            class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-bl-[2rem]"
          >
          </div>
        </div>
        <div class="relative lg:col-span-2">
          <div class="absolute inset-px rounded-lg bg-white"></div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
          >
            <img
              class="h-80 object-cover"
              src="https://seedcompany.com/wp-content/uploads/2022/11/OCP0168460-1.webp"
              alt=""
            />
            <div class="p-10 pt-4">
              <h3 class="text-sm/4 font-semibold text-[#006268] sentinel-bold">Stories</h3>
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
                What Does Innovation Mean in the Bible Translation Movement?
              </p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                Learn about Seed Company's legacy fostering innovation in the Bible translation
                movement through technology and people.
              </p>
            </div>
          </div>
          <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5">
          </div>
        </div>
        <div class="relative lg:col-span-2">
          <div
            class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"
          >
          </div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-br-[calc(2rem+1px)]"
          >
            <img
              class="h-80 object-cover"
              src="https://seedcompany.com/wp-content/uploads/2024/11/Screenshot-2024-11-20-at-11.30.43%E2%80%AFAM-1024x595.png"
              alt=""
            />
            <div class="p-10 pt-4">
              <h3 class="text-sm/4 font-semibold text-[#006268] sentinel-bold">Meet the People</h3>
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
                In Nigeria, the Etulo Welcome God's Word
              </p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                Watch the Etulo people welcome the New Testament in their language.
              </p>
            </div>
          </div>
          <div
            class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @font-face {
    font-family: 'Rader Bold';
    src: url('/public/fonts/PPRader-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Rader Medium';
    src: url('/public/fonts/PPRader-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Sentinel Bold';
    src: url('/public/fonts/._Sentinel-Bold-Pro.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Sentinel Light';
    src: url('/public/fonts/._Sentinel-Light-Pro.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('/public/fonts/._GothamOffice-Regular') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  .rader-bold {
    font-family: 'Rader Bold', sans-serif;
  }
  .sentinel-light {
    font-family: 'Sentinel Light', sans-serif;
  }
  .sentinel-bold {
    font-family: 'Sentinel Bold', sans-serif;
  }
  .gotham {
    font-family: 'Gotham', sans-serif;
  }
</style>
