---
import { Image } from 'astro:assets';
import backgroundImage from '../../assets/progress-background.png';
interface Props {
  color?: string;
  currentNumber: number;
  maxNumber: number;
  fullWidth?: string;
  backgroundType?: 'solid' | 'image';
  children?: string | string[];
}

const {
  color,
  currentNumber,
  maxNumber,
  fullWidth,
  backgroundType = 'solid',
  children,
} = Astro.props;
const progress = Math.min((currentNumber / maxNumber || 0) * 100, 100);
---

<div class={`relative w-[${fullWidth || '100%'}] rounded-xs h-10 mx-auto`}>
  {
    backgroundType === 'solid' ? (
      <div class="bg-gray-200 dark:bg-gray-200 w-full h-full rounded-xs" />
    ) : (
      <Image src={backgroundImage} alt="background dots" class="w-full h-full" />
    )
  }
  <!-- continer 2 children image and one being the below div and position it - relative inset 0-->
  <div
    class={`absolute inset-0 h-10 rounded-xs ${color || 'bg-watermarkGreen'}`}
    style={{ width: `${progress}%` }}
  >
    {children}
  </div>
</div>
