---
import DonationCardComponent from './DonationCardComponent.astro';
import { LockSection } from './LockSection';
import ProgressBar from './ProgressBar.astro';

export interface CardProps {
  currentAmount: number;
  startAmount: number;
  endAmount: number;
  peopleGroups: number;
  projectHeader: string;
  projectDescription: string;
  projectBullets: string[];
  image: string;
}

interface Props {
  projectData: CardProps[];
}

const { projectData } = Astro.props;
---

{projectData.map((data, index) => <DonationCardComponent projectData={{ ...data, index }} />)}
<div class="donation-card w-full mx-0">
  <div class="donation-card-image-wrapper">
    <img
      class="donation-card-image"
      src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/4e42888750b57d97a81617a6a33f270921722b91-5760x3840.jpg"
      alt=""
    />
  </div>
  <div class="relative donation-card-content">
    <ProgressBar maxNumber={100} currentNumber={100} backgroundType="dots" />
    <div class="donation-card-subheading mt-2">Above and Beyond</div>
    <div class="lg:flex justify-between gap-2">
      <div class="donation-card-heading">Opportunity Eight</div>
      <div class="flex items-center">
        <LockSection fundingStatus="funded" />
        <span class="ml-2 sus-green-text font-medium">$2,000,000 +</span>
      </div>
    </div>
    <p class="donation-card-description">
      God has provided above and beyond all expectations, leading us to add another opportunity.
      With this newly added opportunity, we will cumulatively reach 63 people groups and bring more
      access of God’s Word to 17,749,597 people. We celebrate that the following milestones will now
      be completed:
    </p>
    <ul class="donation-card-ul">
      <li class="donation-card-li">Ten first Scripture engagements</li>
      <li class="donation-card-li">Ten New Testaments</li>
      <li class="donation-card-li">Three full Bibles</li>
      <li class="donation-card-li">
        Four engagements towards completing a full Bible in four sign languages
      </li>
    </ul>
  </div>
</div>
<div class="donation-card donation-card-grey w-full border-gray-300">
  <div class="donation-card-image-wrapper w-full relative">
    <div class="relative">
      <img
        class={'more-to-come-card-image grayscale overflow-hidden'}
        src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/cba77b66fe7213db90c3f65ced2f34551c5af41f-1200x675.jpg"
        alt=""
      />
      <span class="more-to-come-card absolute inset-0 top-1/2">JUST THE BEGINNING</span>
    </div>
    <div class="relative donation-card-content mt-3">
      <div class="lg:flex justify-between gap-2">
        <div class="donation-card-heading">
          {`Future Opportunity`}
        </div>
      </div>
      <p class="donation-card-description px-5">
        The work is not finished! We are expectant to see how God will use this effort in the years
        to come as we continue putting new translation projects before our church body. May the Lord
        open doors for even more people to experience His Word in their own language.
      </p>
    </div>
  </div>
</div>
