---
import { Image } from 'astro:assets';
import Logo from '../_assets/houstons_first.png';
import { portableText } from '~/sanity';
import type { Campaign } from '../../../../pages/campaigns/campaignBySlug.groq';

interface Props {
  campaignData: Campaign;
}
const { campaignData } = Astro.props;
---

<div class="lg:w-3/4">
  <div>
    <Image src={Logo} alt="Houston's First Baptist Church" class="h-auto w-3/4 sm:w-1/2 md:w-1/2" />

    {
      campaignData.subheading && (
        <p class="text-xl md:text-4xl text-white gotham-book uppercase tracking-wider opacity-90">
          {campaignData.subheading}
        </p>
      )
    }

    <!-- Main Heading (rich text) -->
    <div
      class="mb-8 prose prose-invert max-w-none prose-p:text-4xl prose-p:md:text-8xl prose-p:leading-none prose-p:font-bold prose-p:gotham-book"
      set:html={portableText.toHTML(campaignData.heading)}
    />

    <!-- Hero Copy / Body -->
    <div
      class="prose prose-invert max-w-none prose-p:text-lg md:prose-p:text-xl prose-p:leading-7 mt-6 gotham"
      set:html={portableText.toHTML(campaignData.heroCopy)}
    />
  </div>
</div>
