---
import { Image } from 'astro:assets';
import Logo from '../_assets/houstons_first.png';
import { toHTML } from '../../../../lib/portableTextSerializer';
import type { Campaign } from '../../../../pages/campaigns/campaignBySlug.groq';

interface Props {
  campaignData: Campaign;
}

const { campaignData } = Astro.props;
---

<div class="md:w-3/4">
  <div>
    <Image src={Logo} alt="Houston's First Baptist Church" class="h-auto w-3/4 sm:w-1/2 md:w-1/2" />
    <h1 class="text-4xl md:text-7xl gotham-bold text-white font-bold uppercase text-pretty mb-4">
      <span class="text-xl md:text-4xl text-white gotham-book uppercase text-pretty">
        {campaignData.subheading}
      </span><br />
      <span set:html={toHTML(campaignData.heading || [])} />
    </h1>
    <span
      class="text-md md:text-lg text-white gotham text-pretty"
      set:html={toHTML(campaignData.heroCopy || [])}
    />
  </div>
</div>
