---
import '../styles/global.css';
import '~/theme/fonts';

interface Props {
  title?: string;
}
const { title } = Astro.props;

let current = new URL(Astro.url).pathname;
current = current.endsWith('/') ? current : current + '/';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href={current} />
    <link
      rel="icon"
      type="image/png"
      href="https://seedcompany.com/wp-content/uploads/2021/09/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? 'Seed Campaigns'}</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
